body {
  background-color: #1c0100;
background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  display: flex;
  height: 95vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

body > div {
  background-color: rgb(42, 53, 23);
  border-radius: 1em;
  padding: 1em;
  width: 300px;
  max-width: 95vw;

}

.logo {
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
}
