body {
  background-color: #1c0100;
background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  display: grid;
  height: 100vh;
  place-items: center;
}

body > div {
  background-color: green;
  border-radius: 1em;
  padding: 1em;
}

form {
  display: flex;
  flex-direction: column;
}
